@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
 
.logo img{
    display: block;
    width: 8%;
    height: auto;
} 

html {
    font-size: 16px;
    font-family: reddit sans, lora, sans serif;
    color: #006D77;
    padding: 10px;
    justify-content: flex-start;
}  

:root {
    --primary-color: #EDF6F9;
    --secondary-color: #83C5BE;
    --accent1-color: #E29578;
    --accent2-color: #006D77;

    --heading-font: "Lora", sans-serif;
    --paragraph-font: "Reddit Sans", sans-serif;

    --nav-background-color: #EDF6F9;
    --nav-link-color: #83C5BE;
    --nav-hover-link-colors: #E29578;
    --nav-hover-link-color: #83C5BE;
}

h1, h2 {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    text-decoration: none;
    text-align: center;
}


.navbar {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-content:space-between;
    background-color: var(--secondary-color);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    color: var(--nav-hover-link-colors);
    text-decoration: none;
    display: grid;
    grid-column: span 8;
    grid-row: span 8;
}

body {
    font-family: "Reddit Sans", sans-serif;
    font-style: normal;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    color: var(--nav-hover-link-color);
    justify-content:flex-start;

}

.hero img {
    display: flex;
    align-items: flex-start;
    width: 20%;
    height: auto;
}

article {
    background-color: #EDF6F9;
    opacity: 100%;
    padding: 20px;
}

.happy img{
    display: flex;
    width: 20%;
    height: auto;
}

.sociallinks {
    display: flex;
    justify-content: right;
    flex-direction: row;
}

.happy {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 15px;
}

p {
    justify-content: center;
}

.hero {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
}

footer {
    text-align: center;

}

.fun {
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.smile {
    text-align:center;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 20px;
}

.map {
    align-items:center;
    justify-content: center;
    display: grid;
}

p, h3 {
    padding: 8px;
    text-align:center;
    align-items: center;
}

.form-item {
    margin: 5px;
    padding: 5px;
}

input [type=radio], input [type=checkbox] {
    transform: scale(2);
    margin-right: 2em;
}

button {
    margin: 1rem;
    background-color: #83C5BE;
    color:white;
    border: none;
    border-radius: .4rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: #006D77;

}

legend {
    padding: 0.5rem;
    color: #006D77;
    font-size: 1.2rem;
}

input [type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.regular {
    padding: 5px;
    margin:5px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #edf2f4;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}